p{
    color: with;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*text in mitte
    andere schrift 
    andere größe 
    */
}

#footer{
    color: black;
    background-color: black;
}