p{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;/*funktioniert nicht*/
    /*
    andere schrift  
    */
}

#footer{
    background-color: black;
    bottom: 0%;
}